<div class="modal-header">
  <h2 class="modal-title">Delete</h2>
  <h3>{{deleteName}}?</h3>
</div>
<div class="modal-body">
  This will delete current person note and all its dependencies.
  Are you sure to delete this item?
  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="agree">
      Confirm
    </label><br />
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-disabled="!agree" ng-click="ok('struct')" title="Delete">Delete</button>
  <button class="btn btn-default" ng-click="cancel()" title="Cancel">Cancel</button>
</div>