<div class="modal-header">
  <h3 class="modal-title">Change person <b>{{newdata.name}}</b> data</h3>
</div>
<div class="modal-body">
  <div class="form-group">
  <table class="table row">
    <thead>
        <tr>
            <td class="col-xs-3">Input</td>
            <td class="col-xs-9">new data</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>New date</td>
            <td><date-picker data-newdata="newdata"></date-picker></td>
        </tr>
        <tr>
            <td>Current name</td>            
            <td><select-person data-newdata="newdata"></select-person></td>             
        </tr>
        <tr>
            <td>New time in</td>
            <td><time-picker timetype="timeIn" data-newdata="newdata"></time-picker></td>
        </tr>
        <tr>
            <td>New time out</td>
            <td><time-picker timetype="timeOut" data-newdata="newdata"></time-picker></td>
        </tr>
    </tbody>
  </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="ok()" title="Save" ng-disabled="invalid">Save</button>
  <button class="btn btn-default" ng-click="cancel()" title="Cancel">Cancel</button>
</div>







