<div class="row">
  <div class="col-md-4">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup='dd.MM.yyyy' ng-model="newdata.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open1()">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>

  <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
  <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
  <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date {{inlineOptions.minDateStatus}}</button>

</div>
